<form action="/add_movie" method="POST">
    <table>
        <tr>
            <td>title</td>
            <td><input type="text" name="title" value="Kingsglaive: Final Fantasy XV" /></td>
        </tr>
        <tr>
            <td>year</td>
            <td><input type="text" name="year" value="2016" /></td>
        </tr>
        <tr>
            <td>imdb</td>
            <td><input type="text" name="imdb" value="tt5595168" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save Movie" />
            </td>
        </tr>
    </table>
</form>